<h3> Bookings for <%= @store_bike.store.name %>   
   <%= @store_bike.bike.name %> </h3>
  
<%= render 'errors' %>
<%= render 'form' %> 

<div class="calendar_container">
  <div id="calendar">
  </div>
</div>